<div id="chat-header">
    <a class="btn btn-primary" style="background-color:#0091ca" data-toggle="collapse" href="#user-chat-box" role="button" aria-expanded="false" aria-controls="collapseExample">
        <i class="far fa-comment"></i> Message
    </a>
</div>


<% if (locals.user){ %>
 
	<div id="user-chat-box" class="collapse">
        <button class="btn btn-primary" style="background-color:#0091ca"  type="button" data-toggle="collapse" data-target="#user-chat-box" aria-expanded="false" aria-controls="collapseExample">
			<i class="far fa-times-circle"></i>
        </button>
		<ul id="chat-messages-list">
            
			<li class="other-message">
				<span>Other Message</span>
			</li>
			<li class="self-message">
				<span>
					Self Message
				</span>
            </li>

		</ul>
		<div id="chat-message-input-container">
			<input id="chat-message-input" placeholder="Type message here">
			<button id="send-message">Send</button>
		</div>

	</div>
<% } %>
