<link rel="stylesheet" href="/css/footer.css">
<footer>
        <h3> &copy; Friendly 2020 </h3>
        <h3>Developer - Ramakant Yadav<a href="https://github.com/ryadav-byte"><small>(Github)</small></a></h3>

</footer>