<!-- <footer id="layout-footer">
        <div>
            <p>
                <a href="/"><i class="fas fa-home"></i> &nbsp; Home Page</a>
            </p>
            <p>
                &#169; &nbsp; Friendly 2020
            </p>
            <p>Developer - Ramakant Yadav</p>
            <p>Profile Links -
                <a href="https://github.com/ryadav-byte"><small>Github</small></a>
                <a href="https://www.linkedin.com/in/ramakant-yadav-053064140/"><small>LinkedIn</small></a>
            </p>

        </div>
    
        <div>
             
        </div>
</footer> -->

<footer id="layout-footer">
        <div>
            <p>
                &#169; Friendly 2020. All Rights Reserved
                
            </p>
        </div>
    
        <div>
            <nav class="footer-nav">
                <ul>
                    <li>
                        <a href="/"><i class="fas fa-home"></i> &nbsp;Home Page</a>
                    </li>
                    <li>
                        <a href="/users/profile"><i class="fas fa-user"></i> &nbsp; Profile Page</a>
                    </li>
                </ul>
            </nav>
        </div>
            
        <div>
             <ul>
                  <li>
                        Developer <small>(Ramakant Yadav)</small> 
                  </li>
                  <li>
                        <a href="https://github.com/ryadav-byte"><i class="fab fa-github"></i></a>
                        &nbsp;
                        <a href="https://www.linkedin.com/in/ramakant-yadav-053064140/"><i class="fab fa-linkedin"></i></a>
                        &nbsp;
                        <a href="#"><i class="far fa-envelope"></i></a>
                  </li>
             </ul>
        </div>
    </footer>