<link rel="stylesheet" href="/css/header.css">
<header id="layout-header">
    <nav>
        <div class="mini-logo">
            <h3>
                <a href='/'>
                    Friendly
                </a>
            </h3>
        </div>

        <div class="auth-links">
            <ul>
                <% if (locals.user){ %>
                
                <!-- CHANGE: Show the link for Dashboard only if the role is admin -->
                <% if (locals.user.role == 'admin'){ %>
                    <li>
                        <a href="/dashboard">Dashboard</a>
                    </li>
                <% } %>
                <li>
                    <a href="/users/profile/<%= locals.user.id%>"><%= user.name %></a>
                </li>
                <li>
                    <a href="/users/sign-out">Sign Out</a>
                </li>
                <% }else{ %>
                <li>
                    <a href="/users/sign-in">Sign In</a>
                </li>
                <li>
                    <a href="/users/sign-up">Sign Up</a>
                </li>
        
                <% } %>
            </ul>
        </div>
    </nav>
</header>

