body{
    margin: 0;
    background: #f5f5f5;
    font-family: "Source Sans Pro", sans-serif;
    /* propriedades para a fonte ficar mais legível */
    // text-rendering: optimizeLegibility !important;
    // -webkit-font-smoothing: antialiased !important;
    box-sizing: border-box;

    #layout-main{
        height: 100%;
        overflow: auto;
        background-color: white;
    }
}