footer {
  display: flex;
  background-color: #003f67;
  justify-content: space-between;
  color: white; }
  footer div {
    margin-left: 3rem;
    margin-right: 3rem; }
    footer div p {
      font-weight: 500; }
      footer div p a {
        text-decoration: none;
        color: white; }
    footer div nav ul li {
      list-style: none; }
      footer div nav ul li a {
        text-decoration: none;
        color: white; }
    footer div ul li {
      list-style: none; }
      footer div ul li a {
        text-decoration: none;
        color: white; }
